
@(pType: String)(implicit request: Request[_], messages: Messages, lang: Lang, context: config.PlaContext)

@restartTarget = @{
    pType match {
        case "IP2016" => controllers.routes.IP2016Controller.pensionsTaken
        case "FP2016" => controllers.routes.ConfirmationController.confirmFP
        case "existingProtections" => controllers.routes.ReadProtectionsController.currentProtections
    }
}

@linkText = @{
    if(pType != "existingProtections") Messages("pla.techError.startAgain")
    else Messages("pla.techError.retry")
}

@views.html.main_template(title = Messages("pla.techError.title"), bodyClasses = None) {

<h1 class="heading-large" id="pageHeading">@Messages("pla.techError.pageHeading")</h1>

@if(pType != "existingProtections") {
    <p id="startAgainText">@Messages("pla.techError.paraOne")</p>
}

<ul>
    <li><a href=@restartTarget id="tryAgainLink">@linkText</a></li>
</ul>

}