@import play.api.Application

@(lookupForm: Form[PSALookupRequest])(implicit request: Request[_], messages: Messages, lang: Lang, application: Application)

@lc = @{
    Application.instanceCache[PlaLanguageController].apply(application)
}

@views.html.main_template(title = Messages("psa.lookup.title"), bodyClasses = None, showLogout = false) {
    @language_selection(lc.languageMap, lc.langToCall, None)

    <h1 class="heading-large"> @Messages("psa.lookup.form.title")</h1>

    @helper.form(action = routes.LookupController.submitLookupRequest) {
        <fieldset class="form-field-group">
            <label>
                @Messages("psa.lookup.form.psaref")
                <p class="form-field--hint">@Messages("psa.lookup.form.psaref.hint")</p>
                <input type="text" class="input--medium input--cleared"/>
            </label>
            <br>
            <br>
            <label>
                @Messages("psa.lookup.form.ltaref")
                <p class="form-field--hint">@Messages("psa.lookup.form.ltaref.hint")</p>
                <input type="text" class="input--medium input--cleared"/>
            </label>
            <br>
            <button class="button" type="submit">@Messages("psa.lookup.form.button")</button>
        </fieldset>
    }
}
