@import play.api.Application
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(lookupForm: Form[PSALookupRequest])(implicit request: Request[_], messages: Messages, lang: Lang, application: Application)

@lc = @{
    Application.instanceCache[PlaLanguageController].apply(application)
}

@views.html.main_template(title = Messages("psa.lookup.title"), bodyClasses = None, showLogout = false) {
    @language_selection(lc.languageMap, lc.langToCall, None)

    <h1 class="heading-48 heading--underlined"> @Messages("psa.lookup.form.title")</h1>

    @govHelpers.errorSummary(Messages("pla.lookup.form.error.summary"), lookupForm)

    @govHelpers.form(action = routes.LookupController.submitLookupRequest) {

        <div class="form-group">
            <fieldset class="form-field-group">
                @if(lookupForm("pensionSchemeAdministratorCheckReference").hasErrors) {
                    <div class="form-field form-field--error fields-aligned form-field--tall">
                    } else {
                    <div class="form-field form-field--tall">
                    }
                <label> <h2>@Messages("psa.lookup.form.psaref")</h2>
                    @if(lookupForm("pensionSchemeAdministratorCheckReference").hasErrors) {
                        <div class="error-notification" id="@{
                            lookupForm("pensionSchemeAdministratorCheckReference").errors.head.message
                        }">
                        @{
                            lookupForm("pensionSchemeAdministratorCheckReference").errors.head.message
                        }
                        </div>
                    }
                    <p class="form-field--hint">@Messages("psa.lookup.form.psaref.hint")</p>
                    <input type="text" name="pensionSchemeAdministratorCheckReference" id="pensionSchemeAdministratorCheckReference"
                    class="input--medium input--cleared" value="@lookupForm("pensionSchemeAdministratorCheckReference").value.getOrElse("")"/>
                </label>
            </div>

                @if(lookupForm("lifetimeAllowanceReference").hasErrors) {
                    <div class="form-field form-field--error fields-aligned">
                    } else {
                    <div class="form-field">
                    }
                <label> <h2>@Messages("psa.lookup.form.ltaref")</h2>
                    @if(lookupForm("lifetimeAllowanceReference").hasErrors) {
                        <div class="error-notification" id="@{
                            lookupForm("lifetimeAllowanceReference").errors.head.message
                        }">
                        @{
                            lookupForm("lifetimeAllowanceReference").errors.head.message
                        }
                        </div>
                    }
                    <p class="form-field--hint">@Messages("psa.lookup.form.ltaref.hint")</p>
                    <input type="text" name="lifetimeAllowanceReference" id="lifetimeAllowanceReference"
                    class="input--medium input--cleared" value="@lookupForm("lifetimeAllowanceReference").value.getOrElse("")"/>
                </label>
            </div>
            </fieldset>
        </div>
        <button class="button" type="submit">@Messages("psa.lookup.form.button")</button>
    }
}
