@()(implicit messages: Messages)

<div class="service-info">
    <h2>@Messages("pla.base.readMore")</h2>
    <ul>
        <li><a id="lifetimeAllowanceLink" href="https://www.gov.uk/tax-on-your-private-pension/lifetime-allowance" rel="external" target="_blank" title='@Messages("pla.base.newWindow")'>@Messages("pla.links.lifetimeAllowance")</a></li>
        <li><a id="ip14Link" href="https://www.gov.uk/guidance/pension-schemes-protect-your-lifetime-allowance" rel="external" target="_blank" title='@Messages("pla.base.newWindow")'>@Messages("pla.links.individualProtection2014")</a></li>
    </ul>
</div>
