@import common.Links

@()(implicit request: Request[_], lang: Lang)

@views.html.main_template(title = Messages("pla.technicalIssue.title"), bodyClasses = None, showLogout = false) {
    @language_selection(PlaLanguageController.languageMap, PlaLanguageController.langToCall, None)

<h1 class="heading-large">@Messages("pla.technicalIssue.pageHeading")</h1>

<p>@Messages("pla.technicalIssue.paraOne")</p>

<p>@Messages("pla.technicalIssue.paraTwo")</p>

@Html(Messages("pla.technicalIssue.tryAgain", Links.plaMain))

}
