.status-notification {
    color: white;
    background-color: #6F777B;
    padding-left: 3px;
    padding-right: 3px;
}
.protection-details {
    color: #6F777B;
}

.noBottomMargin {
    margin-bottom: 0px;
}
