.status-notification {
    color: white;
    background-color: #6F777B;
    padding-left: 3px;
    padding-right: 3px;
}
.protection-details {
    color: #6F777B;
}

.divider-margin {
    margin-top: 15px;
}

.divider-thick {
    border-bottom: 3px solid;
}

.declaration {
    padding-top: 30px;
}
