@import models.CurrentPensionsModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.formInputMoney
@import play.api.data._

@(currentPensionsForm: Form[CurrentPensionsModel])(implicit request: Request[_])

@main_template(Messages("pla.currentPensions.question")) {

    @govHelpers.errorSummary(Messages("pla.base.errorSummaryLabel"), currentPensionsForm)

    <h1 class="heading-xlarge">@Messages("pla.currentPensions.pageHeading")</h1>

    @govHelpers.form(action = routes.IP2016Controller.submitCurrentPensions) {

        @formInputMoney(currentPensionsForm, "currentPensionsAmt", Messages("pla.currentPensions.question"),Some(Messages("pla.currentPensions.helpText")))

        <button class="button" type="submit" id="continue-button">@Messages("pla.base.continue")</button>

    }

}
