@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}


@()(implicit request: Request[_], messages: Messages, lang: Lang)

@main_template(title = Messages("pla.psoDetails.title"), scriptElem=None, bodyClasses = None) {

<header class ="page-header">
    <h1 class="heading-large" id="page-heading">
        @Messages("pla.psoDetails.title")
    </h1>
</header>

    <p class="icon-min-height">@Messages("pla.psoDetails.removePso")</p>

<div class="form-group">
    @govHelpers.form(action = routes.IP2016Controller.submitRemovePsoDetails) {
    <p>
        <button id="submit" class="button" type="submit">@Messages("pla.base.remove")</button>
    </p>

    @Html(Messages("pla.psoDetails.cancelRemove", routes.SummaryController.summaryIP16(), "cancel-link"))
    }
</div>
}