@import models.SummaryModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.summaryRow
@import play.api.data._

@(summary: SummaryModel)(implicit request: Request[_])


@views.html.main_template(title = "Howdy", bodyClasses = None) {

    <h1 class="heading-xlarge">Summary</h1>

    @for(row <- summary.pensionContributionRows) {
        @summaryRow(row.rowID, row.rowText, row.displayValues, row.changeLinkCall)
    }

    <h2>PSO Details</h2>

    @for(row <- summary.psoDetailsRows) {
        @summaryRow(row.rowID, row.rowText, row.displayValues, row.changeLinkCall)
    }
}
