@import play.api.mvc.Call
@import controllers.SummaryController

@(rowID: String, displayValues: Seq[String], changeLinkCall: Option[Call], removeLinkCall: Option[Call], removeLinkDefined: Boolean, boldText: Boolean, firstRow: Boolean)

@boldString = {"-bold"}
    @if(rowID == "totalPensionsAmt" || rowID == "ip14TotalPensionsAmt"){
        <tr class="grey-background">
            <td class="total-font summary-text" id="total-message">@Messages("pla.summary.questions.totalPensionsAmt")</td>
            <td class="total-font summary-data" id="@{rowID}DisplayValue@{displayValues.indexOf(displayValues.head)}">@displayValues.head</td>
            <td></td>
            @if(removeLinkDefined) {
               <td class="total-font"></td>
            }
        </tr>

    } else {

    <tr>
        <td class="@if(firstRow){has-child-item} summary-text">
            <span @if(SummaryController.recordDataMetrics(rowID)){data-metrics = "summary:@rowID:@{displayValues(0)}"}></span>
            <span class='@if(boldText){bold-}small' id="@{rowID}QuestionText">@Messages(s"pla.summary.questions.$rowID")</span>
        </td>

        <td class="@if(firstRow){has-child-item} summary-data">
        @for((displayValue, index) <- displayValues.zipWithIndex) {
            <span id="@{rowID}DisplayValue@index" class='@if(boldText){bold-}medium'>@displayValue</span>
        }
        </td>
        @if(changeLinkCall.isDefined) {
        <td class="@if(firstRow){has-child-item} summary-link">
            <a class="font-xsmall" id="@{rowID}ChangeLink" href=@changeLinkCall.get>@Messages("pla.summary.change")</a>
            <span class="visuallyhidden">@Messages(s"pla.summary.hiddenLinkText.$rowID")</span>
        </td>
        }
        @if(removeLinkCall.isDefined) {
            <td class="@if(firstRow){has-child-item} summary-link" a id="@{rowID}-removeLink">
                <a id="@{rowID}-remove-link" href="@removeLinkCall">@Messages("pla.base.remove")</a>
                <span class ="visuallyhidden">@Messages(s"pla.summary.hiddenLinkText.removePsoHint")</span>
            </td>
        } else {@if(removeLinkDefined) {
            <td class="@if(firstRow){has-child-item}"></td>
        }}
    </tr>
    }


