@import play.api.mvc.Call

@(rowID: String, displayValues: Seq[String], changeLinkCall: Option[Call], boldText: Boolean)

@boldString = {"-bold"}

<div class="grid-wrapper">
    <div class="grid grid-1-2">
        <div class="inner-block">
            <span class='@if(boldText){bold-}small' id="@{rowID}QuestionText">@Messages(s"pla.summary.questions.$rowID")</span>
        </div>
    </div>
    <div class="grid grid-1-4">
        <div class="inner-block">
            @for((displayValue, index) <- displayValues.zipWithIndex) {
                <div>
                    <span id="@{rowID}DisplayValue@index" class='@if(boldText){bold-}medium'>@displayValue</span>
                </div>
            }
        </div>
    </div>

    <div class="grid grid-1-4">
        <div class="inner-block">
            @if(changeLinkCall.isDefined) {
                <div>
                    <a class="font-xsmall" id="@{rowID}ChangeLink" href=@changeLinkCall.get>@Messages("pla.summary.change")</a>
                    <span class="visuallyhidden">@Messages(s"pla.summary.hiddenLinkText.$rowID")</span>
                </div>
            }
        </div>
    </div>
</div>
