@import models.HaveAddedToPensionModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._

@(addedToPensionForm: Form[HaveAddedToPensionModel])(implicit request: Request[_])


@views.html.main_template(title = Messages("pla.haveAddedToPension.title"), bodyClasses = None) {

	<h1 class="heading-large">@Messages("pla.haveAddedToPension.pageHeading")</h1>

	<legend class="form-label">@Messages("pla.haveAddedToPension.paraOne")</legend>

	<span class="form-hint">@Messages("pla.haveAddedToPension.help")</span>

	@govHelpers.form(action = routes.HaveAddedToPensionController.submitHaveAddedToPension) {

	    <div class="inline form-group">
	        @govHelpers.inputRadioGroup(
	            field = addedToPensionForm("haveAddedToPension"),
	            Seq(
	                "true"->Messages("pla.base.yes"),
	                "false"->Messages("pla.base.no")),
	            '_labelAfter -> true,
	            '_labelClass -> "block-label"
	        )
	    </div>

	    <button class="button" type="submit" id="continue-button">@Messages("pla.base.continue")</button>
  	}

}