@()(implicit request: Request[_])

@views.html.main_template(title = Messages("pla.techError.title"), bodyClasses = None) {

<h1 class="heading-xlarge">@Messages("pla.techError.pageHeading")</h1>

<p>@Messages("pla.techError.paraOne")</p>
<ul>
    <li><a href="@controllers.routes.ConfirmationController.confirmFP">@Messages("pla.techError.FP16LinkText")</a></li>
    <li><a href="@controllers.routes.IP2016Controller.pensionsTaken">@Messages("pla.techError.IP16LinkText")</a></li>
    <li><a href="@controllers.routes.IP2014Controller.ip14PensionsTaken">@Messages("pla.techError.IP14LinkText")</a></li>
    <li><a href="@controllers.routes.ReadProtectionsController.currentProtections">@Messages("pla.techError.ExistingProtectionsLinkText")</a></li>
</ul>
<p>@Html(Messages("pla.techError.returnToPTA"))</p>

}