@import common.Links
@import play.api.Application

@()(implicit request: Request[_], messages: Messages, lang: Lang, application: Application, context: config.PlaContext)

@lc = @{Application.instanceCache[PlaLanguageController].apply(application) }

@views.html.main_template(title = Messages("pla.timeout.title"), bodyClasses = None, showLogout = false) {

@language_selection(lc.languageMap, lc.langToCall, None)

    <h1 class="heading-large">@Messages("pla.timeout.pageHeading")</h1>

    <p>@Html(Messages("pla.timeout.returnToPTA", Links.plaMain))</p>

}