@import models.ExistingProtectionsDisplayModel
@import helpers.templates.existingProtection
@(protections: ExistingProtectionsDisplayModel)(implicit request: Request[_])
@import config.FrontendAppConfig

@views.html.full_width_template(title = Messages("pla.existingProtections.title"), bodyClasses = None) {

    <nav class="breadcrumb-nav breadcrumb-nav--slim">
        <ul class="breadcrumb-nav__list" role="breadcrumbs">
            <li class="breadcrumb-nav__item">
              <a href="@{FrontendAppConfig.ptaFrontendUrl}" id="account-home-breadcrumb-link">@Messages("pla.existingProtections.BreadcrumbPTAHome")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">@Messages("pla.existingProtections.BreadcrumbPLA")</li>
        </ul>
    </nav>

    <div class="grid grid-2-3">
        <h1 class="heading-large">@Messages("pla.existingProtections.pageHeading")</h1>
    </div>

    <div class="grid-wrapper"></div>
    <section>
        <h2 class="bold-small">@{Messages("pla.existingProtections.open")} (@{protections.activeProtections.size})</h2>
    </section>
    <div>&nbsp;</div>

    @if(protections.activeProtections.size == 0) {
        <p>@Messages("pla.existingProtections.noActiveProtections")</p>
    } else {
        @for((protection, index) <- protections.activeProtections.zipWithIndex) {
            <section>
                @existingProtection(protection, "active", index + 1)
            </section>
        }

    }

    <div class="grid-wrapper"></div>
    <div>&nbsp;</div>
    <section>
        <h2 class="bold-small">@{Messages("pla.existingProtections.other")} (@{protections.otherProtections.size})</h2>
    </section>
    <div>&nbsp;</div>

    @if(protections.otherProtections.size == 0) {
        <p>@Messages("pla.existingProtections.noOtherProtections")</p>
    } else {
        @for((protection, index) <- protections.otherProtections.zipWithIndex) {
            <section>
                @existingProtection(protection, "other", index + 1)
            </section>
        }

    }

    <section>
        <a href="@{FrontendAppConfig.ptaFrontendUrl}" id="account-home-text-link">@Messages("pla.existingProtections.backToHome")</a>
    </section>

}