@import config.FrontendAppConfig
@import controllers.PlaLanguageController
@import helpers.templates.formInlineDateInput
@import play.api.Application
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(withdrawDate: String,protectionType: String, status: String)(implicit request: Request[_], messages: Messages, lang: Lang, application: Application, context: config.PlaContext, partialRetriever: uk.gov.hmrc.play.partials.FormPartialRetriever)

@lc = @{
    Application.instanceCache[PlaLanguageController].apply(application)
}

@scriptElement = {
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.withdraw.what-happens.info-heading"), scriptElem = Some(scriptElement), bodyClasses = None) {

    @language_selection(lc.languageMap, lc.langToCall, None)

    @govHelpers.form(action = routes.WithdrawProtectionController.displayWithdrawConfirmation(withdrawDate)) {


        <a class="back-link" style="margin-bottom: 0px" href=@routes.WithdrawProtectionController.withdrawDateInput()>Back</a>


        <h1 class="heading-large">@Messages(s"pla.withdraw.what-happens.info-heading")</h1>

        <div class="grid">
            <p>@Messages("pla.withdraw.protection.what-happens.info.1",withdrawDate)</p>
            <p>@Messages("pla.withdraw.protection.what-happens.info.2",Messages(s"pla.withdraw.protection.${protectionType}.label"),Messages(s"pla.withdraw.protection.${protectionType}.label"))</p>
            <p>@Messages("pla.withdraw.protection.what-happens.info.3",withdrawDate)</p>
            <p>@Messages("pla.withdraw.protection.what-happens.info.4",withdrawDate)</p>
            <p>@Messages("pla.withdraw.protection.what-happens.info.5")</p>
        </div>



        <button class="button" type="submit" id="submit">@Messages("pla.withdraw.implications.submit")</button>
        <br />
        <br />
    }
}
