@import config.FrontendAppConfig
@import controllers.PlaLanguageController
@import helpers.templates.formInlineDateInput
@import play.api.Application
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(withdrawDateForm: Any)(implicit request: Request[_], messages: Messages, lang: Lang, application: Application, context: config.PlaContext, partialRetriever: uk.gov.hmrc.play.partials.FormPartialRetriever)

@lc = @{
    Application.instanceCache[PlaLanguageController].apply(application)
}

@scriptElement = {
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.withdraw.date-input.title"), scriptElem = Some(scriptElement), bodyClasses = None) {

    @language_selection(lc.languageMap, lc.langToCall, None)

    <nav class="breadcrumb-nav breadcrumb-nav--slim">
        <ul class="breadcrumb-nav__list" role="breadcrumbs">
            <li class="breadcrumb-nav__item">
                <a href="@{
                    FrontendAppConfig.ptaFrontendUrl
                }" id="account-home-breadcrumb-link">@Messages("pla.existingProtections.BreadcrumbPTAHome")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">
                <a href="@{
                    controllers.routes.ReadProtectionsController.currentProtections
                }" id="existing-protections-breadcrumb-link">@Messages("pla.existingProtections.pageBreadcrumb")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">
                <a href="@{
                    controllers.routes.WithdrawProtectionController.withdrawSummary
                }" id="existing-protections-breadcrumb-link">@Messages("pla.withdraw.pageBreadcrumb")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">@Messages("pla.withdraw.implications.breadcrumb")</li>
        </ul>
    </nav>

    <h1 class="heading-large">@Messages("pla.withdraw.implications.title")</h1>

    <div class="alert alert--success" role="alert">
        <p class="alert__message">Are you sure you really want to do this?!?!</p>
        <p> These are the implications if you want to withdraw your protection</p>
        <ul class="bullets">
            <li>point number one</li>
            <li>point number two</li>
            <li>point number three</li>
        </ul>

    </div>

    <a id="continue-button" class="button" role="button" type="submit" href=@routes.WithdrawProtectionController.withdrawDateInput()>@Messages("pla.withdraw.implications.submit")</a>
    <br />
    <br />
    <a class="back-link" href=@routes.ReadProtectionsController.currentProtections()>Cancel</a>

}
