@import models.ExitSurveyModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{formHiddenYesNoRadioExitSurvey,exitSurveyInputRadio,checkbox}
@import play.api.data._

@(exitSurveyForm: Form[ExitSurveyModel])(implicit request: Request[_], lang: Lang)

@hiddenYesNoContent = {

    @exitSurveyInputRadio(
        field = exitSurveyForm("phoneOrWriteNow"),
        Seq(
            "Yes"->"Yes",
            "No"->"No",
            "Don't know"->"Don't know"),
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legend -> Html(Messages("pla.exitSurvey.hiddenQ1"))
    )
}

@scriptElement = {
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/exitSurvey.js")'></script>
}

@views.html.full_width_template(Messages("pla.exitSurvey.title"), scriptElem=Some(scriptElement)) {
    @language_selection(PlaLanguageController.languageMap, PlaLanguageController.langToCall, Some("custom-class"))


    @govHelpers.errorSummary(Messages("pla.base.errorSummaryLabel"), exitSurveyForm)

    <h1 class="heading-large">@Messages("pla.exitSurvey.pageHeading")</h1>

    @govHelpers.form(action = routes.ExitSurveyController.exitSurvey) {

        @formHiddenYesNoRadioExitSurvey(
            exitSurveyForm,
            "phoneOrWrite",
            Html(Messages("pla.exitSurvey.question1")),
            hiddenYesNoContent,
            Some("")
        )

        @checkbox(
            field = exitSurveyForm("anythingElse"),
            Seq(
                "Nothing else" -> "Don't need to do anything else",
                "Online help" ->"Find out more online",
                "Employer help" ->"Speak to your employer",
                "Family help" ->"Ask a friend or family member for advice",
                "Agent help" ->"Ask an agent or accountant for advice",
                "May need help" ->"Don't know",
                "Something else" ->"Other"),
                '_groupClass -> "form-group",
                '_legend -> Html(Messages("pla.exitSurvey.question2")),
                '_fieldsetAttributes -> "id=anythingElse"
        )

        @exitSurveyInputRadio(
            field = exitSurveyForm("recommend"),
            Seq(
                "Very likely" -> "Very likely",
                "Likely" -> "Likely",
                "Not likely or unlikely" -> "Not likely or unlikely",
                "Unlikely" -> "Unlikely",
                "Very unlikely" -> "Very unlikely"
            ),
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_legend -> Html(Messages("pla.exitSurvey.question3")),
            '_groupClass -> "form-group"
        )

        @exitSurveyInputRadio(
            field = exitSurveyForm("satisfaction"),
            Seq(
                "Very satisfied" -> "Very satisfied",
                "Satisfied" -> "Satisfied",
                "Not satisfied or dissatisfied" -> "Not satisfied or dissatisfied",
                "Dissatisfied" -> "Dissatisfied",
                "Very dissatisfied" -> "Very dissatisfied"
            ),
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_legend -> Html(Messages("pla.exitSurvey.question4")),
            '_groupClass -> "form-group"
        )

        <p class="bold-small">@Messages("pla.exitSurvey.writeFeedback")</p>

        <a id="submit-survey-button" href=@controllers.routes.AccountController.signOut class="button button-start" role="button" onclick="submitExitSurvey()">@Messages("pla.exitSurvey.sendFeedback")</a>

    }

}
