@import play.api.i18n._
@import models.ProtectionDisplayModel

@(protection: ProtectionDisplayModel, statusGroup: String, protectionNum: Int)

<div class="grid-wrapperx">
    <div class="grid grid-1-3">
        <div class="title bold-medium" id="@{statusGroup}QuestionText@{protectionNum}">@Messages("pla.protection.types." + protection.protectionType)</div>
    </div>
    <div class="grid grid-2-3">
        <div class="inner-block">
            @if(statusGroup == "active") {
                <div class="font-medium" id="@{statusGroup}Detail@{protectionNum}">@protection.relevantAmount.getOrElse("")</div>
            } else {
                <span class="status-notification font-xsmall" id="@{statusGroup}Detail@{protectionNum}">@Messages("pla.protection.statuses." + protection.status)</span>
            }
        </div>
    </div>
    <div class="grid-wrapper"></div>
    <div class="grid grid-1-3">
        <div class="font-xsmall protection-details">@Messages("pla.existingprotections.protectionRef")</div>
    </div>
    <div class="grid grid-2-3">
        <div class="inner-block">
            <div class="font-xsmall protection-details" id="@{statusGroup}ProtectionRef@{protectionNum}">@protection.protectionReference</div>
        </div>
    </div>
    <div class="grid-wrapper"></div>
    <div class="grid grid-1-3">
        <div class="font-xsmall protection-details">@Messages("pla.existingprotections.psaRef")</div>
    </div>
    <div class="grid grid-2-3">
        <div class="inner-block">
            <div class="font-xsmall protection-details" id="@{statusGroup}PsaRef@{protectionNum}">@protection.psaCheckReference</div>
        </div>
    </div>
</div>
<div>&nbsp;</div>

