@(form: Form[_], fieldName: String, questionText:Html, content:Html, helpText:Option[String] = None)(implicit messages: Messages)

<div class="form-group" data-hidden='hidden'>

    @exitSurveyInputRadio(
        field = form(fieldName),
        Seq(
            "yes"->Messages("pla.base.yes"),
            "no"->Messages("pla.base.no")),
        '_legend -> questionText,
        '_legendID -> fieldName,
        '_helpText -> helpText,
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )

    <div class="panel-indent" id='hidden'>
            @content
    </div>
</div>