@*@import common.Links*@

@*@()*@

@*<div class="service-info">*@
    @*<h2>@Messages("pla.base.readMore")</h2>*@
    @*<ul>*@
        @*<li><a id="arrangementHelpLink"*@
               @*href=@Links.fpArrangement*@
               @*rel="external"*@
               @*target="_blank"*@
               @*title='@Messages("pla.base.newWindow")'*@
               @*onclick="ga('send', 'event', 'read-more-link', 'get-external-link', 'what-is-an-arrangement');"*@
        @*>@Messages("pla.links.fpArrangementHelp")</a></li>*@
        @*<li><a id="relievedPensionHelp"*@
               @*href=@Links.fpRelievedPension*@
               @*rel="external"*@
               @*target="_blank"*@
               @*title='@Messages("pla.base.newWindow")'*@
               @*onclick="ga('send', 'event', 'read-more-link', 'get-external-link', 'what-is-relieved-pension');"*@
        @*>@Messages("pla.links.fpRelievedPensionHelp")</a></li>*@
    @*</ul>*@
@*</div>*@