@import models.ProtectionDetailsDisplayModel

@(details: ProtectionDetailsDisplayModel)(implicit messages: Messages)

<ul>
    @if(details.protectionReference.isDefined) {<li id="protectionRef">@Messages("pla.resultSuccess.protectionRef"): @details.protectionReference.get</li>}
    <li id="psaRef">@Messages("pla.resultSuccess.psaRef"): @details.psaReference</li>
    @if(details.applicationDate.isDefined) {<li id="applicationDate">@Messages("pla.resultSuccess.applicationDate"): @details.applicationDate.get</li>}
</ul>

