@import play.api.i18n._
@import models.ExistingProtectionDisplayModel

@(protection: ExistingProtectionDisplayModel, statusGroup: String, protectionNum: Int)

<div class="item">
    <div class="grid-wrapperx">
        <div class="grid grid-1-3">
            <div class="title bold-medium" id="activeProtection">@Messages("pla.protection.types." + protection.protectionType)</div>
        </div>
        <div class="grid grid-2-3">
            <div class="inner-block">
                <a id="printLink" href="@controllers.routes.PrintController.printView" target="_blank" onclick="ga('send', 'event', 'print-active-protection', 'print-@{protection.protectionType.toString}', 'existing');">Print (opens in a new window)</a>
            </div>
        </div>
        
        <div class="panel-indent">
            @protection.protectedAmount.map { amt =>
                @protectionDetails(Messages("pla.existingProtections.protectedAmount"), amt, "activeProtectedAmount")
            }

            @protectionDetails(Messages("pla.existingProtections.protectionRef"), protection.protectionReference, "activeProtectionReference")

            @protection.psaCheckReference.map { checkRef =>
                @protectionDetails(Messages("pla.existingProtections.psaRef"), checkRef, "activePSACheckRef")
            }

            @protection.certificateDate.map{ cDate =>
                @protectionDetails(Messages("pla.resultSuccess.applicationDate"), cDate, "activeCertificateDate")
            }

            @protection.amendCall.map{ call =>
                <a href="@call">Amend Protection</a>
            }
        </div>


    </div>
</div>
<div>&nbsp;</div>

