@import play.api.i18n._
@import models.ExistingProtectionDisplayModel
@import helpers.templates.hiddenText

@(protection: ExistingProtectionDisplayModel, statusGroup: String, protectionNum: Int)(implicit messages: Messages)

<div class="item">

    <div class="grid-wrapper">
        <div class="grid grid-1-3">
            <div class="title bold-medium" id="inactiveProtection@{protectionNum}">@Messages("pla.protection.types." + protection.protectionType)</div>
        </div>
        <div class="grid grid-2-3">
            <div class="inner-block">
                <span class="status-notification font-xsmall" id="inactiveProtectionStatus@{protectionNum}">@Messages("pla.protection.statuses." + protection.status)</span>
            </div>
        </div>
    </div>

    <div class="grid-wrapper">
        <div class="grid grid-2-3">
            <details role="group" class="item-details">
                <summary id="summaryDetailLink@{protectionNum}" role="button">
                    <span class="summary">@Messages("pla.existingProtections.details")</span>
                </summary>

                <div class="panel-indent">
                    @protection.protectedAmount.map { amt =>
                        @protectionDetails(Messages("pla.existingProtections.protectedAmount"), amt, s"inactiveProtectedAmount$protectionNum")
                    }
                    @protectionDetails(Messages("pla.existingProtections.protectionRef"), protection.protectionReference, s"inactiveProtectionReference$protectionNum")

                    @protection.psaCheckReference.map { checkRef =>
                        @protectionDetails(Messages("pla.existingProtections.psaRef"), checkRef, s"inactivePSACheckRef$protectionNum")
                    }

                    @protection.certificateDate.map{ cDate =>
                        @protectionDetails(Messages("pla.resultSuccess.applicationDate"), cDate, s"inactiveCertificateDate$protectionNum")
                    }

                    @protection.amendCall.map{ call =>
                        <a href="@call" id=@{s"${protection.status}-${protection.protectionType}-amend-link"}>@Messages("pla.existingProtections.amendLinkText")</a>
                    }
                </div>
            </details>
        </div>
    </div>




</div>
<div>&nbsp;</div>

