@import models.OverseasPensionsModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{formInputMoney,formHiddenYesNoRadio}
@import helpers.ip14.ip14Sidebar
@import play.api.data._

@(overseasPensionsForm: Form[OverseasPensionsModel])(implicit request: Request[_])

@hiddenYesNoContent = {

    @formInputMoney(
        overseasPensionsForm,
        "overseasPensionsAmt",
        Messages("pla.overseasPensions.questionTwo"),
        None
    )
}

@scriptElement = {
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@sidebar = {@ip14Sidebar()}

@main_template(title=Messages("pla.overseasPensions.title"), scriptElem=Some(scriptElement), sidebarLinks = Some(sidebar)) {

    @govHelpers.errorSummary(
        Messages("pla.base.errorSummaryLabel"), overseasPensionsForm
    )

    <h1 class="heading-large">@Messages("pla.overseasPensions.pageHeading")</h1>

    @govHelpers.form(action = routes.IP2014Controller.submitIP14OverseasPensions) {

        <div class="inline form-group">
            @formHiddenYesNoRadio(
                overseasPensionsForm,
                "overseasPensions",
                Messages("pla.ip14OverseasPensions.question"),
                hiddenYesNoContent
            )

        </div>
        <button class="button" type="submit" id="continue-button" >@Messages("pla.base.continue")</button>
    }
}