@import models.PensionsTakenBeforeModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{formInputMoney,formHiddenYesNoRadio}
@import helpers.ip14.ip14Sidebar
@import play.api.data._

@(pensionsTakenBeforeForm: Form[PensionsTakenBeforeModel])(implicit request: Request[_])

@hiddenYesNoContent = {

    @formInputMoney(
        pensionsTakenBeforeForm,
        "pensionsTakenBeforeAmt",
        Messages("pla.pensionsTakenBefore.question"),
        Some(Messages("pla.ip14PensionsTakenBefore.helpText").toString())
    )
}

@scriptElement = {
    <script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@sidebar = {@ip14Sidebar()}

@main_template(title=Messages("pla.pensionsTakenBefore.title"), scriptElem=Some(scriptElement), sidebarLinks = Some(sidebar)) {

    @govHelpers.errorSummary(
        Messages("pla.base.errorSummaryLabel"), pensionsTakenBeforeForm
    )

    <h1 class="heading-large">@Messages("pla.pensionsTakenBefore.pageHeading")</h1>

    @govHelpers.form(action = routes.IP2014Controller.submitIP14PensionsTakenBefore) {

        <div class="inline form-group">
            @formHiddenYesNoRadio(
                pensionsTakenBeforeForm,
                "pensionsTakenBefore",
                "",
                hiddenYesNoContent
            )

        </div>
        <button class="button" type="submit" id="continue-button" >@Messages("pla.base.continue")</button>
    }
}
