@import models.amendModels.AmendOverseasPensionsModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{formInputMoney,formHiddenYesNoRadio}
@import play.api.data._

@(amendOverseasPensionsForm: Form[AmendOverseasPensionsModel])(implicit request: Request[_])

@hiddenYesNoContent = {

@formInputMoney(
amendOverseasPensionsForm,
"amendedOverseasPensionsAmt",
Messages("pla.ip14OverseasPensions.question")
)
}

@scriptElement = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@main_template(title=Messages("pla.overseasPensions.title"), scriptElem=Some(scriptElement)) {

@govHelpers.errorSummary(
Messages("pla.base.errorSummaryLabel"), amendOverseasPensionsForm
)

<h1 class="heading-large">@Messages("pla.overseasPensions.pageHeading")</h1>

@govHelpers.form(action = routes.AmendsController.submitAmendOverseasPensions) {

<div class="inline form-group">
    @formHiddenYesNoRadio(
    amendOverseasPensionsForm,
    "amendedOverseasPensions",
    Messages("pla.ip14OverseasPensions.legend"),
    hiddenYesNoContent
    )
</div>

<button class="button" type="submit" id="continue-button" >@Messages("pla.base.change")</button>
<div class="form-hidden">

    @helper.inputText(amendOverseasPensionsForm("protectionType"), 'type -> "hidden", 'class -> "form-hidden")
    @helper.inputText(amendOverseasPensionsForm("status"), 'type -> "hidden", 'class -> "form-hidden")

</div>
}
}
