@import models.AmendDisplayModel
@import helpers.amends.amendSection
@import config.FrontendAppConfig
@import models.amendModels.AmendmentTypeModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helper

@(model: AmendDisplayModel, amendmentTypeForm: Form[AmendmentTypeModel])(implicit request: Request[_])

@main_template(title = Messages("pla.amends.title")) {


    <nav class="breadcrumb-nav breadcrumb-nav--slim">
        <ul class="breadcrumb-nav__list" role="breadcrumbs">
            <li class="breadcrumb-nav__item">
                <a href="@{FrontendAppConfig.ptaFrontendUrl}" id="account-home-breadcrumb-link">@Messages("pla.existingProtections.BreadcrumbPTAHome")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">
                <a href="@{controllers.routes.ReadProtectionsController.currentProtections}" id="existing-protections-breadcrumb-link">@Messages("pla.existingProtections.pageBreadcrumb")</a>
            </li>
            <li class="breadcrumb-nav__item breadcrumb-nav__item--trail"></li>
            <li class="breadcrumb-nav__item">@Messages("pla.amends.pageBreadcrumb")</li>
        </ul>
    </nav>

    <h1 class="heading-large" id="page-heading">
        @if(model.amended) {
            @Messages(s"pla.amends.heading.${model.protectionType}.changed")
        } else {
            @Messages(s"pla.amends.heading.${model.protectionType}.noChanges")
        }
    </h1>

    @if(model.amended) {
        <p>@Html(Messages("pla.amends.cancelPara", controllers.routes.ReadProtectionsController.currentProtections, "cancelLink"))</p>

    }

    <table>
        @model.sections.map { section =>
            @amendSection(section, model.protectionType)
        }

        <tr class="grey-background">
            <td class="total-font" id="total-message">@Messages("pla.amends.totalValueOfPensions")</td>
            <td class="total-font" id="total-amount">@model.totalAmount</td>
            <td></td>
        </tr>
    </table>

    @govHelpers.form(action = routes.AmendsController.amendProtection) {
        <div class="form-hidden">

            @helper.inputText(amendmentTypeForm("protectionType"), 'type -> "hidden", 'class -> "form-hidden")
            @helper.inputText(amendmentTypeForm("status"), 'type -> "hidden", 'class -> "form-hidden")

        </div>

        @if(model.amended) {
            <button id="submit" class="button" type="submit">@Messages("pla.amends.submit")</button>
        }
    }

}
