@import models.ActiveAmendResultDisplayModel
@import models.amendModels.AmendsGAModel
@import helpers.templates.resultDetails
@import play.api.i18n._
@import enums.ApplicationType
@import utils.Constants
@import controllers.PlaLanguageController
@import play.api.Application

@(model: ActiveAmendResultDisplayModel, gaModel: Option[AmendsGAModel])(implicit request: Request[_], messages: Messages, lang: Lang, application: Application, context: config.PlaContext)

@lc = @{Application.instanceCache[PlaLanguageController].apply(application) }

@scriptElement = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.activeAmend.title"), scriptElem=Some(scriptElement), bodyClasses = None) {

@language_selection(lc.languageMap, lc.langToCall, None)

@gaModel.map{ gaModel =>
<div @if(gaModel.current.isDefined){data-metrics = "activeAmends:@gaModel.current:amendCurrentPensions"}></div>
<div @if(gaModel.before.isDefined){data-metrics = "activeAmends:@gaModel.before:amendPTBefore"}></div>
<div @if(gaModel.between.isDefined){data-metrics = "activeAmends:@gaModel.between:amendPTBetween"}></div>
<div @if(gaModel.overseas.isDefined){data-metrics = "activeAmends:@gaModel.overseas:amendOverseasPensions"}></div>
<div @if(gaModel.pso.isDefined){data-metrics = "activeAmends:@gaModel.pso:amendPSOs"}></div>
}

<div class="grid-row">
    <div class="transaction-banner--complete">
        <span class="heading-large" id="amendmentOutcome">@Messages(s"amendResultCode.${model.notificationId}.heading")</span>
        <p class="medium" id="amendedAllowanceText">@Messages("pla.resultSuccess.allowanceSubHeading")</p>
        <span class="bold-medium" id="protectedAmount">@model.protectedAmount</span>
    </div>

    <h2>@Messages("pla.resultSuccess.protectionDetails")</h2>
    <p>@Messages("pla.resultSuccess.detailsContent")</p>

    @model.details.map{ details =>
        @resultDetails(details)
    }

    <p class="print-link"><a id="printPage" href="@controllers.routes.PrintController.printView" target="_blank" onclick="ga('send', 'event', 'print-amended-protection', 'print-@{model.protectionType.toString}', 'result');">@Messages("pla.resultSuccess.print") (@Messages("pla.base.newWindow"))</a></p>

    <h2>@Messages("pla.resultSuccess.IPChangeDetails")</h2>

    <p id="ipPensionSharing">@Html(Messages("pla.resultSuccess.IPPensionSharing"))</p>

    <p>@Html(Messages("pla.activeAmend.viewDetails")) <a id="existingProtectionsLink" href=@controllers.routes.ReadProtectionsController.currentProtections>@Messages("pla.activeAmend.viewDetailsLinkText")</a>.</p>

    <h2>@Messages("pla.resultSuccess.giveFeedback")</h2>

    <p><a href=@controllers.routes.ExitSurveyController.exitSurvey>@Messages("pla.resultSuccess.exitSurveyLinkText")</a> @Messages("pla.resultSuccess.exitSurvey")</p>

</div>
}




