@import models.ActiveAmendResultDisplayModel
@import models.amendModels.AmendsGAModel
@import helpers.templates.resultDetails
@import play.api.i18n._
@import enums.ApplicationType
@import utils.Constants

@(model: ActiveAmendResultDisplayModel, gaModel: AmendsGAModel)(implicit request: Request[_])

@scriptElement = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.activeAmend.title"), scriptElem=Some(scriptElement), bodyClasses = None) {

<div @if(gaModel.current){data-metrics = "activeAmends:current:a"}></div>
<div @if(gaModel.before){data-metrics = "activeAmends:before:b"}></div>
<div @if(gaModel.between){data-metrics = "activeAmends:between:c"}></div>
<div @if(gaModel.overseas){data-metrics = "activeAmends:overseas:d"}></div>

<div class="grid-row">
    <div class="transaction-banner--complete">
        <p class="heading-large" id="amendmentOutcome">@Messages(s"amendResultCode.${model.notificationId}.heading")</p>
        <p class="medium" id="amendedAllowanceText">@Messages("pla.activeAmend.allowanceSubHeading")</p>
        <p class="bold-medium" id="protectedAmount">@model.protectedAmount</p>
    </div>

    <p>@Messages("pla.activeAmend.protectionDetailsPara")</p>
    <h2>@Messages("pla.activeAmend.whatNextHeading")</h2>
    <p>@Messages("pla.activeAmend.whatNextContent")</p>

    @model.details.map{ details =>
        @resultDetails(details)
    }

    <p>@Html(Messages("pla.activeAmend.viewDetails")) <a id="existingProtectionsLink" href=@controllers.routes.ReadProtectionsController.currentProtections>@Messages("pla.activeAmend.viewDetailsLinkText")</a>.</p>

</div>
}




