@import models.InactiveAmendResultDisplayModel
@import models.amendModels.AmendsGAModel

@(model: InactiveAmendResultDisplayModel, gaModel: AmendsGAModel)(implicit request: Request[_])

@scriptElement = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.inactiveAmend.title"), scriptElem=Some(scriptElement), bodyClasses = None) {

<div @if(gaModel.current){data-metrics = "inactiveAmends:current:a"}></div>
<div @if(gaModel.before){data-metrics = "inactiveAmends:before:b"}></div>
<div @if(gaModel.between){data-metrics = "inactiveAmends:between:c"}></div>
<div @if(gaModel.overseas){data-metrics = "inactiveAmends:overseas:d"}></div>

<h1 class="heading-large" id="resultPageHeading">@Messages(s"amendResultCode.${model.notificationId}.heading")</h1>

@for(infoNum <- model.additionalInfo) {
    <p id=@{s"additionalInfo$infoNum"}>@Html(Messages("amendResultCode." + model.notificationId+ "." + infoNum))</p>
}

<p>@Html(Messages("pla.resultRejection.viewDetails")) <a id="existingProtectionsLink" href=@controllers.routes.ReadProtectionsController.currentProtections>@Messages("pla.resultRejection.viewDetailsLinkText")</a>.</p>

}
