@import models.InactiveAmendResultDisplayModel
@import models.amendModels.AmendsGAModel

@(model: InactiveAmendResultDisplayModel, gaModel: Option[AmendsGAModel])(implicit request: Request[_])

@scriptElement = {
<script type="text/javascript" src='@controllers.routes.Assets.at("javascripts/pla.js")'></script>
}

@views.html.main_template(title = Messages("pla.inactiveAmend.title"), scriptElem=Some(scriptElement), bodyClasses = None) {

@gaModel.map{ gaModel =>
<div @if(gaModel.current.isDefined){data-metrics = "inactiveAmends:@gaModel.current:amendCurrentPensions"}></div>
<div @if(gaModel.before.isDefined){data-metrics = "inactiveAmends:@gaModel.before:amendPTBefore"}></div>
<div @if(gaModel.between.isDefined){data-metrics = "inactiveAmends:@gaModel.between:amendPTBetween"}></div>
<div @if(gaModel.overseas.isDefined){data-metrics = "inactiveAmends:@gaModel.overseas:amendOverseasPensions"}></div>
<div @if(gaModel.pso.isDefined){data-metrics = "inactiveAmends:@gaModel.pso:amendPSOs"}></div>
}

<h1 class="heading-large" id="resultPageHeading">@Messages(s"amendResultCode.${model.notificationId}.heading")</h1>

@for(infoNum <- model.additionalInfo) {
    <p id=@{s"additionalInfo$infoNum"}>@Html(Messages("amendResultCode." + model.notificationId+ "." + infoNum))</p>
}

<p>@Html(Messages("pla.resultRejection.viewDetails")) <a id="existingProtectionsLink" href=@controllers.routes.ReadProtectionsController.currentProtections>@Messages("pla.resultRejection.viewDetailsLinkText")</a>.</p>

}
