@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import common.Links
@import helpers.templates.fpSidebar

@()(implicit request: Request[_])

@sidebar = { @fpSidebar()
}

@views.html.main_template(title = Messages("pla.confirmFP16.title"), bodyClasses = None, sidebarLinks = Some(sidebar)) {

    <h1 class="heading-large">@Messages("pla.confirmFP16.pageHeading")</h1>

    <p>@Messages("pla.confirmFP16.paraOne")</p>

    <ul class="list list-bullet">
        <li>@Messages("pla.confirmFP16.bulletOne")</li>
        <li>@Messages("pla.confirmFP16.bulletTwo")</li>
        <li>@Messages("pla.confirmFP16.bulletThree")</li>
        <li>@Messages("pla.confirmFP16.bulletFour")</li>
    </ul>

    <p>@Messages("pla.confirmFP16.paraTwo")</p>

    <p>@Messages("pla.confirmFP16.paraThree")</p>


    @govHelpers.form(action = routes.ResultController.processFPApplication) {
        
        <button class="button" type="submit" id="apply">@Messages("pla.base.submitApplication")</button>
    }

}
