@import common.Links

@{
/*

@import play.api.data._

@()(implicit request: Request[_], messages: Messages)


@sidebar = {
	<div class="service-info">
		<h2>@Messages("pla.base.readMore")</h2>
		<ul>
			<li><a id="moreInfoFP16" href=@Links.plaMain rel="external" target="_blank" title='@Messages("pla.base.newWindow")'>@Messages("pla.links.fixedProtection2016")</a></li>
		</ul>
	</div>
}

@views.html.main_template(title = Messages("pla.applyFP.title"), bodyClasses = None, sidebarLinks = Some(sidebar)) {
	
    <h1 class="heading-large">@Messages("pla.applyFP.pageHeading")</h1>

    <p class="lede">@Messages("pla.applyFP.paraOne")</p>
    <p>@Messages("pla.applyFP.paraTwo")</p>
    <ul class="list list-bullet">
    	<li>@Messages("pla.applyFP.bulletOne")</li>
    	<li>@Messages("pla.applyFP.bulletTwo")</li>
    </ul>

    <p>
        <a id="continue-button" href=@controllers.routes.ConfirmationController.confirmFP class="button" role="button">@Messages("pla.base.apply")</a>
    </p>

}

*/
}
