@import common.Links

@{
/*

@()(implicit request: Request[_], messages: Messages)


@views.html.main_template(title = Messages("pla.cannotApply.title"), bodyClasses = None) {

    <h1 class="heading-large">@Messages("pla.cannotApply.pageHeading")</h1>

    <p>@Messages("pla.cannotApply.paraOne")</p>

    <p>@Messages("pla.cannotApply.paraTwo") <a href=@Links.lifetimeAllowance rel="external" target="_blank" title='@Messages("pla.base.newWindow")'>@Messages("pla.cannotApply.plaLinkText")</a></p>

    <p><a id="startAgain" href="@routes.IntroductionController.introduction">@Messages("pla.base.startAgain")</a></p>

}

*/
}